{% extends 'base.html' %}

{% block head %}
<h1>Video Upload Page</h1>
{% endblock %}

{% block body %}
<a href = "/reset_all">Delete all table data</a>
<div class = "upload">
  <form action="/api/process" method="POST" enctype="multipart/form-data">
    <label for="video-upload">Choose a video to upload:</label>
    <input type="file" id="video-upload" name="video" accept="video/*">
    <br>
    <input type="submit" value="Upload Video">
  </form>
</div>
<br>
<div class = "search">
  <form action = "/api/search/{{query}}" method = "GET">
    <input type = "text" id = "query" name = "query">
    <input type = "submit" value = "Search">
  </form>
</div>
<br>
<div class = "content">
  <table>
    <tr>
      <th>Video Name</th>
      <th>Thumbnail</th>
      <th>Date Submitted</th>
    </tr>
    {% for video in videos %}
    <tr>
      <td><a href = "/api/videos/{{video.rowid}}">{{ video.uri }}</href></td>
      <td>{{ video.filename }}</td>
      <td>{{ video.created.date() }}</td>
    </tr>
    {% endfor %}
  </table>
</div>
{% endblock %}